@mixin pad{
    @media(max-width:1200px){
      @content;
    }
}
@mixin mobile{
    @media(max-width:767px){
      @content;
    }
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .nav{
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #f0f2f5;
        @include mobile{
            padding: 10px;
        }

        .indexicon {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;
            padding: 0px;
            font-family: cursive;
            cursor: pointer;
            img{
                display: block;
                width: 24px;
                height: 24px;
            }
        }
        .btnList{
            display: flex;
            flex-direction: row;
            gap: 10px;
            .btn{
                width: 60px;
                height: 30px;
                padding: 10px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-color: #45a2df;
                color: white;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
    .cardList{
        width: 100%;
        background-color: #f0f2f5;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 20px 0px;

        .window{
            width: 100%;
            height: calc( 100vh - 140px );
            display: flex;
            justify-content: center;
            align-items: center;
        
            .card{
                width: 340px;
                height: 400px;
                background-color: #ffffff;
                flex: 0 0 auto;
                flex-direction: column;
                padding: 12px 16px;
                border-radius: 10px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-weight: 700;
                color: grey;
                gap: 10px;
                
                .headline{
                    display: flex;
                    flex-direction: column;
                    gap:20px;
                    padding: 20px;
                    align-items: center;
                    border-bottom:1px solid #f0f2f5;
                    width: 100%;
        
                    .indexicon {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        padding: 0px;
                        font-family: cursive;
                        cursor: pointer;
                        img{
                            display: block;
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
                .form{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    width: 100%;

                    .inputbox{
                        width: 300px;
                        height: auto;
                        padding: 15px;
                        box-sizing: border-box;
                        border-radius: 5px;
                        border: 1px solid #f0f2f5;
                        background: #FFF;
                        // outline: none;

                        label{
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            cursor: text;
                        }
                        input{
                            width: 100%;
                            border: none;
                            outline: none;
                            font-size: 16px;
                            font-weight: 600;
                            color:black;
                        }
                    }
                    .container{
                        width: 100%;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .btn{
                            width: 300px;
                            height: 40px;
                            background-color: #45a2df;
                            border-radius: 5px;
                            border: none;
                            outline: none;
                            color: white;
                            cursor: pointer;
                            font-size: 16px;
                            font-weight: 700;
                            &:hover{
                                background-color: #62acde;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer{
        padding: 10px 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #f0f2f5;
        @include mobile{
            padding: 10px 20px;
        }
        .text{
            font-weight: 700;
            color: grey;
            @include mobile{
                font-size: 14px;
            }
        }
        .btnList{
            display: flex;
            flex-direction: row;
            gap: 10px;
            .btn{
                width: 60px;
                height: 30px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                &:hover{
                    opacity: 0.8;
                }

                img{
                    width:30px;
                    height: 30px;
                    object-fit: contain;
                }
            }
        }
    }
}

