.nav{
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px gray solid;
    padding: 20px;

    a{
        text-decoration: none;
    }
    .indexicon {
        margin: 40px;
        font-family: cursive;
    }
    .navItem {
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: black;
        font-family: "Noto Sans TC", sans-serif;
        border-radius: 10px;
        &:hover{
            background-color: rgba(128, 128, 128, 0.3);
        }       
    }
    .navUser {
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        font-family: "Noto Sans TC", sans-serif;
        border-radius: 10px;
        gap: 30px;
        &:hover{
            cursor: pointer;
            background-color: rgba(128, 128, 128, 0.3);
        }
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .btn{
        width: 200px;
        height: 30px;
        background-color: #45a2df;
        border-radius: 5px;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        margin: 5px;
        &:hover{
            background-color: #62acde;
        }
    }
}


.mb10{
    margin-bottom: 10px;
}
.border{
    padding:5px;
    border: 1px solid rgb(126, 126, 126);
}
